@model IEnumerable<Marketplace.Domain.Entities.Pedido>

@{
    ViewData["Title"] = "Listado de Pedidos";
}

<!-- Botón para crear un nuevo producto -->
<div class="mb-3">
    <a href="@Url.Action("Crear", "Pedidos")" class="btn btn-success">Crear Nuevo Pedido</a>
</div>


<div class="container mt-4">
    <h1>@ViewData["Title"]</h1>

    <div class="row">
        @foreach (var pedido in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@pedido.Fecha</h5>
                        <p class="card-text">Estado: @pedido.Estado</p>
                        <p class="card-text">UsuarioId: @pedido.UsuarioId</p>
                        <a href="@Url.Action("Editar", "Pedidos", new { id = pedido.Id })" class="btn btn-warning">Editar</a>
                        <button class="btn btn-danger" onclick="confirmarEliminacion(@pedido.Id)">Eliminar</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        function confirmarEliminacion(id) {
            if (confirm("¿Estás seguro de que quieres eliminar este Pedido?")) {
                window.location.href = '/Productos/Eliminar/' + id;
            }
        }
    </script>
}
