@model Marketplace.Domain.Entities.Producto

<h2>Eliminar Producto</h2>

<h4>¿Estás seguro que deseas eliminar este producto?</h4>
<div>
    <strong>Nombre:</strong> @Model.Nombre <br />
    <strong>Precio:</strong> @Model.Precio <br />
    <strong>Precio:</strong> @Model.Stock <br />
</div>


<a href="@Url.Action("EliminarConfirmado", "Productos", new { id = Model.Id })" class="btn btn-danger">Eliminar</a>
<a href="@Url.Action("Index", "Productos")" class="btn btn-secondary">Cancelar</a>